{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:reactrecommended",
        "prettier",
        "prettier/react"
    ],
    "global": {
        "window": true,
        "document": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["./src"],
                "extensions": [".js"]
            }
        }
    },
    "rules": {
        "react/jsx-filename-extension": 0
    }
}